In [1]:
from dotenv import load_dotenv
load_dotenv('Keys.env')  # take environment variables

import pandas as pd
data_frame_1=pd.read_excel('Department-of-Education-–-Air-Conditioning-Report-1-of-2.xlsx', sheet_name='AC Status', header=1)
data_frame_2=pd.read_excel('Department-of-Education-–-Air-Conditioning-Report-1-of-2.xlsx', sheet_name='Building-School Crosswalk', header=1)
data_frame_2
data_frame_1=data_frame_1.rename(columns={'Building ID': 'Building Code'})
df=data_frame_1.merge(data_frame_2, how='left', on='Building Code')

In [2]:
df

,Building Code,Central A/C,Instructional Rooms with Functional A/C,Instructional Rooms with Non-Functional A/C,Instructional Rooms without A/C,Total Instructional Rooms,Percentage with A/C,Rooms with Units Installed this Period,In progress?,Estimated Cost of Outstanding Units?,Electrical Upgrade Anticipated? (ESU),Other Electrical Work Anticipated,Estimated Cost of Electrical Upgrades,Currently Scheduled A/C Phase,PE/PA Rooms\nwith Functional A/C,PE/PA Rooms with Non-Functional A/C,PE/PA Rooms without A/C,Primary Address,Location Code,Location Name
0,K001,N,44,2,0,46,0.956522,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,1,1,2,309 47 STREET,K001,P.S. 001 The Bergen
1,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K002,Parkside Preparatory Academy
2,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K141,P.S. K141
3,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K704,Explore Charter School
4,K003,N,24,12,7,43,0.558140,2.0,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,0,0,5,50 JEFFERSON AVENUE,K003,P.S. 003 The Bedford Village
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,X980,Y,7,0,0,7,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,0,0,0,NaN,NaN,NaN
1932,X981,Y,39,0,0,39,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,3,0,0,NaN,NaN,NaN
1933,X982,Y,11,0,0,11,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,0,0,0,NaN,NaN,NaN
1934,X988,Y,12,0,0,12,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,3,0,0,NaN,NaN,NaN
1935,X989,Y,5,0,0,5,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,Initiative Work Complete,0,0,0,NaN,NaN,NaN

In [11]:
data_frame_3=pd.read_csv('2019_-_2020_School_Locations_20250707.csv')
data_frame_3
new_df=pd.merge(df, data_frame_3[['location_code', 'NTA', 'NTA_Name']], left_on='Building Code', right_on='location_code')
new_df

,Building Code,Central A/C,Instructional Rooms with Functional A/C,Instructional Rooms with Non-Functional A/C,Instructional Rooms without A/C,Total Instructional Rooms,Percentage with A/C,Rooms with Units Installed this Period,In progress?,Estimated Cost of Outstanding Units?,...,Currently Scheduled A/C Phase,PE/PA Rooms\nwith Functional A/C,PE/PA Rooms with Non-Functional A/C,PE/PA Rooms without A/C,Primary Address,Location Code,Location Name,location_code,NTA,NTA_Name
0,K001,N,44,2,0,46,0.956522,NaN,NaN,NaN,...,Initiative Work Complete,1,1,2,309 47 STREET,K001,P.S. 001 The Bergen,K001,BK32,Sunset Park West
1,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K002,Parkside Preparatory Academy,K002,BK60,Prospect Lefferts Gardens-Wingate
2,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K141,P.S. K141,K002,BK60,Prospect Lefferts Gardens-Wingate
3,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K704,Explore Charter School,K002,BK60,Prospect Lefferts Gardens-Wingate
4,K003,N,24,12,7,43,0.558140,2.0,NaN,NaN,...,Initiative Work Complete,0,0,5,50 JEFFERSON AVENUE,K003,P.S. 003 The Bedford Village,K003,BK69,Clinton Hill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,X655,Y,63,0,0,63,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,4,0,2,455 SOUTHERN BLVD,X259,"H.E.R.O. High (Health, Education, and Research...",X655,BX39,Mott Haven-Port Morris
1469,X655,Y,63,0,0,63,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,4,0,2,455 SOUTHERN BLVD,X557,Mott Haven Community High School,X655,BX39,Mott Haven-Port Morris
1470,X660,N,61,1,1,63,0.968254,NaN,NaN,NaN,...,Initiative Work Complete,1,0,4,2474 CROTONA AVENUE,X264,Bronx Academy for Software Engineering (BASE),X660,BX06,Belmont
1471,X660,N,61,1,1,63,0.968254,NaN,NaN,NaN,...,Initiative Work Complete,1,0,4,2474 CROTONA AVENUE,X524,Crotona International High School,X660,BX06,Belmont
1472,X660,N,61,1,1,63,0.968254,NaN,NaN,NaN,...,Initiative Work Complete,1,0,4,2474 CROTONA AVENUE,X565,High School for Energy and Technology,X660,BX06,Belmont

In [10]:
data_frame_3.dtypes
data_frame_3['NTA_Name']

0                        Sunset Park West
1       Prospect Lefferts Gardens-Wingate
2                            Clinton Hill
3                           East New York
4                      Stuyvesant Heights
                      ...
2185               Mott Haven-Port Morris
2186                          Hunts Point
2187               Mott Haven-Port Morris
2188                    Crotona Park East
2189                    Crotona Park East
Name: NTA_Name, Length: 2190, dtype: object

In [14]:
new_df.groupby(['NTA', 'NTA_Name'])['Percentage with A/C'].mean()
neighbourhood_names_percents=new_df.groupby(['NTA', 'NTA_Name'])['Percentage with A/C'].mean()

In [15]:
neighbourhood_names_percents.to_csv('NTA_Name_and_Percentages.csv')

In [58]:
new_df.to_csv('NYC_schools_NTA_districts.csv', index=False)

In [ ]:
import geocoder
geocoder.google('Mountain View, CA', key='[KEY HERE]')
df['Primary Address'].apply(lambda x: f'{x}, New York, NY, United States')
formatted_addresses=df['Primary Address'].apply(lambda x: f'{x}, New York, NY, United States')
lat_long=formatted_addresses.apply(lambda y: geocoder.google(y, key='AIzaSyBmXCPG3xtRyZ4tC728C-lwhVRGewsrZaM'))

In [34]:
[coord.lat for coord in lat_long]
[coord.lng for coord in lat_long]
df['lat']=[coord.lat for coord in lat_long]
df['lng']=[coord.lng for coord in lat_long]
df

,Building Code,Central A/C,Instructional Rooms with Functional A/C,Instructional Rooms with Non-Functional A/C,Instructional Rooms without A/C,Total Instructional Rooms,Percentage with A/C,Rooms with Units Installed this Period,In progress?,Estimated Cost of Outstanding Units?,...,Estimated Cost of Electrical Upgrades,Currently Scheduled A/C Phase,PE/PA Rooms\nwith Functional A/C,PE/PA Rooms with Non-Functional A/C,PE/PA Rooms without A/C,Primary Address,Location Code,Location Name,lat,lng
0,K001,N,44,2,0,46,0.956522,NaN,NaN,NaN,...,NaN,Initiative Work Complete,1,1,2,309 47 STREET,K001,P.S. 001 The Bergen,40.648696,-74.011225
1,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K002,Parkside Preparatory Academy,40.656430,-73.951320
2,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K141,P.S. K141,40.656430,-73.951320
3,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K704,Explore Charter School,40.656430,-73.951320
4,K003,N,24,12,7,43,0.558140,2.0,NaN,NaN,...,NaN,Initiative Work Complete,0,0,5,50 JEFFERSON AVENUE,K003,P.S. 003 The Bedford Village,40.682389,-73.955315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,X980,Y,7,0,0,7,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,0,0,0,NaN,NaN,NaN,40.712775,-74.005973
1932,X981,Y,39,0,0,39,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,3,0,0,NaN,NaN,NaN,40.712775,-74.005973
1933,X982,Y,11,0,0,11,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,0,0,0,NaN,NaN,NaN,40.712775,-74.005973
1934,X988,Y,12,0,0,12,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,3,0,0,NaN,NaN,NaN,40.712775,-74.005973
1935,X989,Y,5,0,0,5,1.000000,NaN,NaN,NaN,...,NaN,Initiative Work Complete,0,0,0,NaN,NaN,NaN,40.712775,-74.005973

In [38]:
def Hello_world(string_to_print):
    print(string_to_print)

In [39]:
Hello_world('Hello, kittens!')

Hello, kittens!

In [40]:
def bin_ac(ac_value):
    if ac_value < 0.5: 
        return "red"
    if ac_value >= 0.5 and ac_value < 0.75:
        return "green"
    if ac_value >= 0.75 and ac_value < 0.95:
        return "yellow"
    else:
        return "blue"

In [41]:
df["Percentage with A/C"].apply(bin_ac)

0        blue
1        blue
2        blue
3        blue
4       green
        ...
1931     blue
1932     blue
1933     blue
1934     blue
1935     blue
Name: Percentage with A/C, Length: 1936, dtype: object

In [43]:
df['bin_ac']=df["Percentage with A/C"].apply(bin_ac)
df

,Building Code,Central A/C,Instructional Rooms with Functional A/C,Instructional Rooms with Non-Functional A/C,Instructional Rooms without A/C,Total Instructional Rooms,Percentage with A/C,Rooms with Units Installed this Period,In progress?,Estimated Cost of Outstanding Units?,...,Currently Scheduled A/C Phase,PE/PA Rooms\nwith Functional A/C,PE/PA Rooms with Non-Functional A/C,PE/PA Rooms without A/C,Primary Address,Location Code,Location Name,lat,lng,bin_ac
0,K001,N,44,2,0,46,0.956522,NaN,NaN,NaN,...,Initiative Work Complete,1,1,2,309 47 STREET,K001,P.S. 001 The Bergen,40.648696,-74.011225,blue
1,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K002,Parkside Preparatory Academy,40.656430,-73.951320,blue
2,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K141,P.S. K141,40.656430,-73.951320,blue
3,K002,Y,64,0,0,64,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,5,0,0,655 PARKSIDE AVENUE,K704,Explore Charter School,40.656430,-73.951320,blue
4,K003,N,24,12,7,43,0.558140,2.0,NaN,NaN,...,Initiative Work Complete,0,0,5,50 JEFFERSON AVENUE,K003,P.S. 003 The Bedford Village,40.682389,-73.955315,green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,X980,Y,7,0,0,7,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,0,0,0,NaN,NaN,NaN,40.712775,-74.005973,blue
1932,X981,Y,39,0,0,39,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,3,0,0,NaN,NaN,NaN,40.712775,-74.005973,blue
1933,X982,Y,11,0,0,11,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,0,0,0,NaN,NaN,NaN,40.712775,-74.005973,blue
1934,X988,Y,12,0,0,12,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,3,0,0,NaN,NaN,NaN,40.712775,-74.005973,blue
1935,X989,Y,5,0,0,5,1.000000,NaN,NaN,NaN,...,Initiative Work Complete,0,0,0,NaN,NaN,NaN,40.712775,-74.005973,blue

In [44]:
df.to_csv('NYC_schools_cleaned.csv', index=False)